@model IEnumerable<Person>

<h1>Male members</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Birthday</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Birth Place</th>
            <th scope="col">Graduated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.FirstName)</th>
                <th>@Html.DisplayFor(modelItem => item.LastName)</th>
                <th>@Html.DisplayFor(modelItem => item.Gender)</th>
                <th>@Html.DisplayFor(modelItem => item.Birthday)</th>
                <th>@Html.DisplayFor(modelItem => item.PhoneNumber)</th>
                <th>@Html.DisplayFor(modelItem => item.BirthPlace)</th>
                <th>@Html.DisplayFor(modelItem => item.IsGraduated)</th>
            </tr>
        }
        @if (Model.Count() == 0)
        {
            <tr>
                <th>No member in list</th>
            </tr>
        }
    </tbody>
</table>